<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- W przypadku wdrażania projektu biblioteki usługi zawartość pliku konfiguracji należy dodać do pliku 
  app.config hosta. Element System.Configuration nie obsługuje plików konfiguracji bibliotek. -->
  <system.serviceModel>
	  <bindings>
    <netTcpBinding>
     <binding name="customTcpBinding" transferMode="Streamed" maxReceivedMessageSize="20480000">
      <security mode="None">
      </security>
     </binding>
    </netTcpBinding>
   </bindings>
    <services>
      <service name="ProjectServiceLibary.DiffFilesInterfaceImpl">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="ProjectServiceLibary.IDiffFilesInterface">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.8.100:8080/DiffFilesInterfaceImpl" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
